.makeAlign{
    margin-left:200px;
}

.form{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left:15%;
    width:50%;
    padding:40px;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:20px;
    flex-wrap:wrap;
}

.block{
    display:block!important;
}

.formButton{
    margin-top:20px!important;
}