body{
    background-color:#f2f2f2;
}
.login {
    border: 1px solid rgb(51, 51, 216);
    padding: 12px 30px;
    background-color: white;
    color: rgb(51, 51, 216);
    cursor: pointer;
    font-size: 15px;
    outline: none;
    margin-right: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }

  .move{
      background-color:#f2f2f2;
      width:325px;
      margin:auto;
      margin-top:10%;

  }

